.new-expense__controls {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:1rem;
}

.new-expense__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid white;
    width: 20rem;
    max-width: 100%;
}

.new-expense__actions {
    text-align: right;
  }